.form {
  display: flex;
  flex-direction: column;
  gap: 16px;

  &__label {
    font-weight: 500;
    color: #444444;
    margin-bottom: -8px;
    display: block;
  }

  &__input {
    padding: 8px 12px;
    border: 1px solid #dddddd;
    border-radius: 4px;
    font-size: 1rem;
    width: 100%;
    box-sizing: border-box;
  }

  &__checkbox {
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: baseline;

    &_label {
      font-weight: 500;
      color: #444444;
      display: block;
    }
  }

  &__fieldset {
    &__legend {
      font-weight: 500;
      color: #444444;
      display: block;
    }
    &__div {
      display: flex;
      flex-direction: row;
      gap: 15px;
      justify-content: baseline;
    }
  }

  &__lote {
    display: flex;
    flex-direction: column;
    gap: 16px;

    &__label {
      font-weight: 500;
      color: #444444;
      display: block;
    }

    &__input {
      padding: 8px 12px;
      border: 1px solid #dddddd;
      border-radius: 4px;
      font-size: 1rem;
      width: 100%;
      box-sizing: border-box;
    }
  }

  &__button {
    background-color: green;
    border-radius: 8px;
    padding: 8px 12px;
    color: #ffffff;
    cursor: pointer;
  }
}
